//Scss
$blue: #08526D;
$red: #ED1E25;
//Scss
//global

@mixin transition-mood {
    transition: ease 200ms  ;

}
@mixin block-padding {
  padding: 50px 0px;
}
@mixin block-heading {
  text-transform: capitalize;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 50px;

}
@mixin block-paragraph {
  margin-bottom: 50px;
  font-size: 19px;
  color: #555;
}

button:active , button:hover , button:visited , button:focus
{
  outline: 0;

}
//global
//upper bar
.upper-bar {
  color: #ddd;
  background-color: $blue;
  padding: 10px;
  font-size: 15px;

}

.fa-phone {
  margin-right: 5px;
}

.fa-envelope {
  margin: 0px 5px 0px 5px;
}

.upper-bar-button {
  background-color: transparent;
  color: white;
  outline: none;
  border: solid $red;
  padding: 0px 15px 3px 15px;
  margin-left: 10px;
  -webkit-transition: 500ms ease all;
  -o-transition: 500ms ease all;
  transition: 500ms ease all;
  text-transform: capitalize;

}

.upper-bar-button:hover {
  background: $red;
  -webkit-transition: 500ms ease all;
  -o-transition: 500ms ease all;
  transition: 500ms ease all;
}

//upperbar
.logo {
  background-image: url("../images/logo.png");
  width: 200px;
  height: 40px;
  background-size: cover;
}

.navbar {
  padding: 25px 0px;
  background-color: white;

}

.navbar-light .navbar-nav .nav-link {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $blue;

}

.navbar-light .navbar-nav .nav-link:hover {
  color: $red;
}

.navbar-light .navbar-nav .active > .nav-link,
{
  color: $red;
}
//end nav bar


//start slider
.slider
{
  margin-bottom: 50px;
}

.carousel-inner
{
  position: relative;

}
.carousel-inner h1
{
  position: absolute;
  z-index: 4;
  color: $blue;
  top: 212px;
  left: 160px;
  width: 468px;
  font-size: 68px;
  line-height: 1;
  letter-spacing: 5px;

}
.over-layer
{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #EEE;
  opacity: 0.1;
  z-index: 2;

}
.slide .carousel-item
{
   background-size: cover;
  background-position: center;
}
.carousel-one
{
  background-image: url('../images/slider1.jpg');


}
.carousel-tow
{
  background-image: url('../images/slider2.jpg');

}
.carousel-three
{
  background-image: url('../images/slider3.jpg');
}
.slide .carousel-item
{
  background-size: cover;
}
//end slider

//start Features
.Features
{
@include block-padding;
}

.Features-item
{
  text-align: center;
  padding: 0px 20px;
  text-transform: capitalize;
  color: #08526D;
}
.Features-item i
{
  text-align: center;
  background: #ed1d24;
  font-size: 19px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  border-radius: 100px;
  margin: 15px auto;

}
.Features-item h4
{
  margin-bottom: 18px;
  color: #08526D;
  font-weight: 600;
  letter-spacing: 1px;

}
.Features-item p
{
  color: #8B999F;
}

//end Features

//Start Overtview
.overview
{
  background-color: #F0F5F7;
  @include block-padding;
  text-align: center;
  margin: 60px 0px;

}
.overview h1
{
  @include block-heading;

}
.overview p
{
 @include block-paragraph
}
.overview button
{
  padding: 14px 40px;
  border: none;
  background-color: #ED1E25;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
  @include transition-mood;
}
.overview button:hover
{
  @include transition-mood;
  background-color: $blue;
}
//end Overview

//Start Featured Work
.Featured-Work
{
  @include block-padding;
}
.Featured-Work h1
{
  @include block-heading;
}
.Featured-Work p {
  @include block-paragraph;
}

.Featured-ul li
{
  border: 1px solid #d3dde1;
  margin: 10px 5px;
  padding: 10px 20px;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: bold;
  color: $blue;
  cursor: pointer;
  @include transition-mood;

}
.Featured-ul li:hover
{
  color: $red;
  border: solid 1px $red;
  @include transition-mood;
}
.Featured-ul  li.li-active
{
  background-color: $red;
  color: white;
  border: solid 1px $red;
}
.Featured-Work-Img div
{
  padding: 0px;
}
.Featured-Work-Img div  img
{
width: 100%;
  padding: 0px;
  margin: 0px;

}
@media only screen and (max-width: 760px) {
  .Featured-Work-Img div  img
  {
    width: 80%;


  }
  .Featured-Work-Img div
  {
    margin-bottom: 10px;
    margin-left: 40px;
  }
}
//End Featured Work


//Start Latest Post
.Latest-Post
{
  @include block-padding;
}
.Latest-Post h1
{
  @include block-heading
}
.Latest-Post p
{
  @include block-paragraph;
  margin: 50px 0px;

}
.Latest-Post-card
{
  margin: 10px 0px;
}
.card-body h5
{

  color: $blue;
}
.card-body p {
  margin: 10px 0px;
}
.card-body .card-body-link
{
  color: $red;
  font-weight: bold;
}

//End Latest Post

// Start Testimonials

.Testimonials
{
  @include block-paragraph;
  background-image: url("../images/testimonial-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 600px;
  margin-bottom: 0px;
}
.over-layer-2
{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.9;
  z-index: 2;

}
.Testimonials-slide
{
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 3;
}
.Testimonials .carousel-caption
{
  top: 170px;
}
.Testimonials-icon
{
  opacity: 0;
}
.Testimonials .carousel-control-next-icon , .Testimonials .carousel-control-prev-icon
{
  background-size: 30%;
  background-color: black;
  padding: 25px 25px;


}
.Testimonials .carousel-control-next-icon:hover , .Testimonials .carousel-control-prev-icon:hover
{
  background-color: $red;
}
.Testimonials .carousel-caption h4
{
 text-transform: uppercase;
  padding: 10px 0px;
}
.Testimonials .carousel-caption p
{
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  margin: 30px 0 0 0;
  letter-spacing: 2px;

}
.Testimonials .carousel-caption span
{
  font-size: 15px;
  color: #ddd;
}




// End Testimonials


//Start Pricing Table
.Pricing-Table
{
  @include block-padding;
  background-color: #f7f7f7;
}
.Pricing-Table h1
{
  @include block-heading
}
.Pricing-Table-p
{
  @include block-paragraph;
}
.Pricing-Table .card
{
  @include transition-mood;
}
.Pricing-Table .card h4
{
  font-size: 24px;
  font-weight: 700;
  margin: 10px 0 15px 0;
  color: #08526D;
}
.Pricing-Table .card span
{
  font-size: 16px;
  font-weight: 400;
  color: #8B999F;
}
.Pricing-Table .card p
{
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
  width: 100%;
  margin: 20px auto 40px;
  color: #08526D;
  background: #f7f7f7;
  box-sizing: border-box;
  padding: 13px 0 6px;
}
.Pricing-Table .card .Pricing-Table-selected ,  .Pricing-Table .card .Pricing-Table-selected span
{
  color: #fff;
  background: #ed1d24;
  border-color: #ed1d24;
}
.Pricing-Table .card-body
{
  padding: 30px 0px;
}

.Pricing-Table .list-group li
{
  border: none;
  font-size: 16px;
  line-height: 30px;
  color: #555;
  text-align: center;
  margin-bottom: 7px;
}
 .Pricing-Table .card-body a
 {
   background: #ed1d24;
   color: #fff !important;
   display: inline-block;
   font-size: 14px;
   font-weight: 700;
   text-decoration: none;
   text-transform: uppercase;
   cursor: pointer;
   line-height: 46px;
   padding: 0 20px;
   -moz-border-radius: 0px;
   -webkit-border-radius: 0px;
   border-radius: 0px;
   letter-spacing: 2px;
   min-width: 170px;
   box-sizing: border-box;
   @include transition-mood;
 }
.Pricing-Table .card-body a:hover
{
  background-color: $blue;
  @include transition-mood;
}
 .Pricing-Table .card:hover
 {
   -webkit-box-shadow: 0 0 12px 0 rgba(130, 121, 121, .2);
   -moz-box-shadow: 0 0 12px 0 rgba(130, 121, 121, .2);
   box-shadow: 0 0 12px 0 rgba(130, 121, 121, .2);
   transform: translate(0, -10px);
   -webkit-transform: translate(0, -10px);
   @include transition-mood;
 }


//End Pricing Table