button:active, button:hover, button:visited, button:focus {
  outline: 0;
}

.upper-bar {
  color: #ddd;
  background-color: #08526D;
  padding: 10px;
  font-size: 15px;
}

.fa-phone {
  margin-right: 5px;
}

.fa-envelope {
  margin: 0px 5px 0px 5px;
}

.upper-bar-button {
  background-color: transparent;
  color: white;
  outline: none;
  border: solid #ED1E25;
  padding: 0px 15px 3px 15px;
  margin-left: 10px;
  -webkit-transition: 500ms ease all;
  -o-transition: 500ms ease all;
  transition: 500ms ease all;
  text-transform: capitalize;
}

.upper-bar-button:hover {
  background: #ED1E25;
  -webkit-transition: 500ms ease all;
  -o-transition: 500ms ease all;
  transition: 500ms ease all;
}

.logo {
  background-image: url("../images/logo.png");
  width: 200px;
  height: 40px;
  background-size: cover;
}

.navbar {
  padding: 25px 0px;
  background-color: white;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #08526D;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ED1E25;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #ED1E25;
}

.slider {
  margin-bottom: 50px;
}

.carousel-inner {
  position: relative;
}

.carousel-inner h1 {
  position: absolute;
  z-index: 4;
  color: #08526D;
  top: 212px;
  left: 160px;
  width: 468px;
  font-size: 68px;
  line-height: 1;
  letter-spacing: 5px;
}

.over-layer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #EEE;
  opacity: 0.1;
  z-index: 2;
}

.slide .carousel-item {
  background-size: cover;
  background-position: center;
}

.carousel-one {
  background-image: url("../images/slider1.jpg");
}

.carousel-tow {
  background-image: url("../images/slider2.jpg");
}

.carousel-three {
  background-image: url("../images/slider3.jpg");
}

.slide .carousel-item {
  background-size: cover;
}

.Features {
  padding: 50px 0px;
}

.Features-item {
  text-align: center;
  padding: 0px 20px;
  text-transform: capitalize;
  color: #08526D;
}

.Features-item i {
  text-align: center;
  background: #ed1d24;
  font-size: 19px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  border-radius: 100px;
  margin: 15px auto;
}

.Features-item h4 {
  margin-bottom: 18px;
  color: #08526D;
  font-weight: 600;
  letter-spacing: 1px;
}

.Features-item p {
  color: #8B999F;
}

.overview {
  background-color: #F0F5F7;
  padding: 50px 0px;
  text-align: center;
  margin: 60px 0px;
}

.overview h1 {
  text-transform: capitalize;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 50px;
}

.overview p {
  margin-bottom: 50px;
  font-size: 19px;
  color: #555;
}

.overview button {
  padding: 14px 40px;
  border: none;
  background-color: #ED1E25;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 2px;
  transition: ease 200ms;
}

.overview button:hover {
  transition: ease 200ms;
  background-color: #08526D;
}

.Featured-Work {
  padding: 50px 0px;
}

.Featured-Work h1 {
  text-transform: capitalize;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 50px;
}

.Featured-Work p {
  margin-bottom: 50px;
  font-size: 19px;
  color: #555;
}

.Featured-ul li {
  border: 1px solid #d3dde1;
  margin: 10px 5px;
  padding: 10px 20px;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: bold;
  color: #08526D;
  cursor: pointer;
  transition: ease 200ms;
}

.Featured-ul li:hover {
  color: #ED1E25;
  border: solid 1px #ED1E25;
  transition: ease 200ms;
}

.Featured-ul li.li-active {
  background-color: #ED1E25;
  color: white;
  border: solid 1px #ED1E25;
}

.Featured-Work-Img div {
  padding: 0px;
}

.Featured-Work-Img div img {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

@media only screen and (max-width: 760px) {
  .Featured-Work-Img div img {
    width: 80%;
  }

  .Featured-Work-Img div {
    margin-bottom: 10px;
    margin-left: 40px;
  }
}
.Latest-Post {
  padding: 50px 0px;
}

.Latest-Post h1 {
  text-transform: capitalize;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 50px;
}

.Latest-Post p {
  margin-bottom: 50px;
  font-size: 19px;
  color: #555;
  margin: 50px 0px;
}

.Latest-Post-card {
  margin: 10px 0px;
}

.card-body h5 {
  color: #08526D;
}

.card-body p {
  margin: 10px 0px;
}

.card-body .card-body-link {
  color: #ED1E25;
  font-weight: bold;
}

.Testimonials {
  margin-bottom: 50px;
  font-size: 19px;
  color: #555;
  background-image: url("../images/testimonial-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 600px;
}

.over-layer-2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.9;
  z-index: 2;
}

.Testimonials-slide {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 3;
}

.Testimonials .carousel-caption {
  top: 170px;
}

.Testimonials-icon {
  opacity: 0;
}

.Testimonials .carousel-control-next-icon, .Testimonials .carousel-control-prev-icon {
  background-size: 30%;
  background-color: black;
  padding: 25px 25px;
}

.Testimonials .carousel-control-next-icon:hover, .Testimonials .carousel-control-prev-icon:hover {
  background-color: #ED1E25;
}

.Testimonials .carousel-caption h4 {
  text-transform: uppercase;
  padding: 10px 0px;
}

.Testimonials .carousel-caption p {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  margin: 30px 0 0 0;
  letter-spacing: 2px;
}

.Testimonials .carousel-caption span {
  font-size: 15px;
  color: #ddd;
}

/*# sourceMappingURL=style.css.map */
